.cc_navbar {
    color: white;
    padding: 30px 24px;
}

.cc_navbar_menu {
    text-align: right;
}

.cc_navbar_menu > ul{
    display: inline-table;
    list-style: none;
    height: 100%;
 }

 .cc_navbar_menu > ul > li , .cc_navbar_menu > ul > a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px;
    color: white;
    font-weight: 300;
 }

 .cc_navbar_menu > ul > li:hover, .cc_navbar_menu > ul > a:hover {
    cursor: pointer;
    color: #D69D0D;
 }