/*#region carousel*/
.cc_carousel.row {
    background-color: white;
    height: 330px;
    padding: 0;
    margin: 0;
    box-shadow: 16px 10px 30px rgba(0, 0, 0, 0.4);
}
.cc_carousel_img {
    padding: 0px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyE3DCMdu8pCzO64_juxXXWCN8f0WHV8Up3Pr4cOYqAaUNCiRl');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.cc_carousel_btn {
    list-style: none;
    display: flex;
    position: absolute;
    top: 24px;
    left: 0px;;
}

.cc_carousel_btn > li {
    background: black;
    margin-right: 13px;
    padding: 10px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.cc_carousel_btn > li:hover {
    background-color: #D69D0D;
    cursor: pointer;
}

.cc_carousel_name {
    background-color: white;
    height: 85%;
    text-align: center;
}

.cc_carousel_name > img {
    width: 174px;
    height: 100%;
}

.cc_carousel_arrow > i.material-icons:hover {
    color: #D69D0D;
    cursor: pointer;
}

/*#endregion*/

/*#region navbar*/
.cc_navbar {
    color: white;
    padding: 30px 24px;
}

.cc_navbar_menu {
    text-align: right;
}

.cc_navbar_menu > ul{
    display: inline-table;
    list-style: none;
    height: 100%;
 }

 .cc_navbar_menu > ul > li , .cc_navbar_menu > ul > a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px;
    color: white;
    font-weight: 300;
 }

 .cc_navbar_menu > ul > li:hover, .cc_navbar_menu > ul > a:hover {
    cursor: pointer;
    color: #D69D0D;
 }
 /*#endregion*/